* {
    border: 1px solid red;
}

/* HEADER */
header{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 0.8em;
    
}

nav {
    background-color: red;
}

nav ul{
    margin: 0 auto;
    padding: 0.4em;
}

nav ul li{
    display: inline-block;
    margin-left: 0.9375em;
    background-color: blue;
    
}

nav ul li a{
    color: white;
    
}